html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.panel {
  font-family: "Open Sans", sans-serif;
  color: #262f3b;
  background-color: #e7e7e7;
}

#header {
  color: #ffffff;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 2.1rem;
  font-weight: 300;
}
  
.sidebar {
  float: left;
  text-transform: capitalize;
}
.sidebar h3 {
  margin-bottom: 0px;
}
.sidebar ul {
  margin-top: 3px;
  margin-bottom: 0;
}
.sidebar .sortoptions {
  list-style: none;
  padding-left: 0px;
}

.product {
  min-width: 200px;
  max-width: 200px;
  height: 200px;
  margin: 20px;
  padding: 20px;
  text-align: center;
  background-color: #fff;
}
 
a {
  text-decoration: none;
  color:#000000;
}

#notecard:hover {
  opacity: .5;
  background: url("../img/icon-zoom.svg") no-repeat center center;
}

.product.ng-enter, 
.product.ng-leave
{ 
    -webkit-transition: 100ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 100ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 100ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 100ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 100ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
} 
 
.product.ng-enter.product.ng-enter-active, 
.product.ng-leave {
    opacity: 1;
    top: 0;
    height: 30px;
}
 
.product.ng-leave.product.ng-leave-active,
.product.ng-enter {
    opacity: 0;
    top: -50px;
    height: 0px;
}


  .cf:before,
  .cf:after {
      content: " "; /* 1 */
      display: table; /* 2 */
  }

  .cf:after {
      clear: both;
  }

  /**
   * For IE 6/7 only
   * Include this rule to trigger hasLayout and contain floats.
   */
  .cf {
      *zoom: 1;
  }

body {
  margin:0;
  padding:0;
  background-color: #262f3b;
}

.m-header {
  padding: 8.5em 8.5em 4.25em;
  position: relative;
}

.m-page {
  background-color: #eceff1;
  color: #263238;
  padding:30px 30px 900px;
}

.m-detail-layout {
  padding-left: 270px;
}
.m-detail-layout .m-aside {
  position: absolute;
  left: 0;
  width: 270px;
  background-color: #e91e63;
}


/*
 * Keyframes
 */

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@-webkit-keyframes fadeInUp {
  /* line 1362, /Users/mperez/Sites/smoothstate/source/stylesheets/keyframes.css.scss */
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }

  /* line 1368, /Users/mperez/Sites/smoothstate/source/stylesheets/keyframes.css.scss */
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInUp {
  /* line 1376, /Users/mperez/Sites/smoothstate/source/stylesheets/keyframes.css.scss */
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }

  /* line 1383, /Users/mperez/Sites/smoothstate/source/stylesheets/keyframes.css.scss */
  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none; } 
  }


@-webkit-keyframes fadeInRight {
  /* line 1292, /Users/mperez/Sites/smoothstate/source/stylesheets/keyframes.css.scss */
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }

  /* line 1298, /Users/mperez/Sites/smoothstate/source/stylesheets/keyframes.css.scss */
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInRight {
  /* line 1306, /Users/mperez/Sites/smoothstate/source/stylesheets/keyframes.css.scss */
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }

  /* line 1313, /Users/mperez/Sites/smoothstate/source/stylesheets/keyframes.css.scss */
  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none; } }



/*
 * CSS Page Transitions
 * Don't forget to add vendor prefixes!
 */

/** Basic styles for an animated element */
.m-scene .scene_element {

  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;

  transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;

}

/** An element that fades in */
.m-scene .scene_element--fadein {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
}

/** An element that fades in and slides up */
.m-scene .scene_element--fadeinup {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

/** An element that fades in and slides from the right */
.m-scene .scene_element--fadeinright {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight; }
}

/** Reverse "exit" animations */

.m-scene .scene_element--delayed {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s; }
.m-scene.is-exiting .scene_element {
  -webkit-animation-direction: alternate-reverse;
  animation-direction: alternate-reverse; 
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
/* line 43, /Users/mperez/Sites/smoothstate/source/stylesheets/pageTransitions.css.scss */
.m-scene.is-exiting .scene_element--delayed {
  -webkit-animation-delay: 0s;
  animation-delay: 0s; }
/* line 48, /Users/mperez/Sites/smoothstate/source/stylesheets/pageTransitions.css.scss */
.m-scene.is-exiting .scene_element--noexiting {
  -webkit-animation-direction: alternate-reverse;
  animation-direction: alternate-reverse; }
